nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(25, 28, 42, 0.8); 
    backdrop-filter: blur(10px);
    z-index: 100; 
    transition: background-color 0.3s ease;
}
  
nav ul {
    display: flex;
    justify-content: center;
    gap: 10px;
}
  
nav a {
    color: #c8cde5;
    text-decoration: none;
    transition: color 0.3s ease;
}
nav a.active {
    color: #7aa2f7;
    border-bottom: 2px solid #7aa2f7;
    font-weight: bold;
    transition: all 0.3s ease;
}
nav a:hover {
    color: #ffffff;
}
.scrolled {
    background-color: #191c2a;
}