<nav class="flex justify-center gap-4">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#projects">Projects</a>
    <a href="#contact">Contact</a>
</nav>

<style>
    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: var(--color-primary);
        opacity: 0.7;; 
        padding: 1rem;
    }
    a {
        color: var(--color-text);
        text-decoration: none;
    }
    a:hover {
        color: var(--color-subtle);
        text-decoration: underline;
    }
</style>