<div class="projects-container" id="projects">
    <h2>My Projects</h2>


    <p class="text-lg text-center">
        -- Work in progress ⚒️ --
        <br>
        I am currently working on this section, please check back later.
    </p>

</div>

<style>
    .projects-container {
        padding: 20px;
        color: var(--color-text);
        height: 100vh;
    }
    .projects-container h2 {
        font-size: 2rem;
        margin-bottom: 10px;
    }
</style>